{% extends "index.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container box_container">
    <div class="jumbotron">
        
        <div class="media">
            <img src="{{ url_for('static',filename='images/modeh.png') }}" class="card btnn" alt="No Image ... !!!! ????" style="border-radius: 50%; width: 250px;">
            
            <div class="media-body">
              <h1>Mahmoud Odeh</h1>
              <h2>Links:</h2>
              <a href="https://taplink.cc/odeh786">https://taplink.cc/odeh786</a>
              <br>
              <h4>Adress line:</h4>
              <h5>
                11037 Abu-Nusir ,
                Suliman-Tawafsheh Street
                Amman, ST 11181
                +96279 8334640
                mahmoudodeh332@gmail.com
              </h5>
            </div>
          
          </div>

          <div class="media">
            <div class="media-body">
                <br>
                <br>
                <h2>EXPERIENCE:</h2>
                <h2>
                    <strong><p>Ligadata, Amman, Jordan —Big Data OPSEngineering</p></strong>
                </h2>
                <h4>
                    <p>
                        - Answering all requests that coming from the client-side.
                    </p>
                    <p>
                        - Monitoring the system to explore all bugs using monitoring tools.
                    </p>
                    <p>
                        - Using SQL and Python to be able to return a response to the client.
                    </p>
                    <p>
                        - Opening the right ticket for the right team (infrastructure or developers team).
                    </p>
                </h4>

                <br>
                <br>

                
                <h2>EDUCATION:</h2>
                <br>
                <h4><p>Al-Zaytoonah UNIVERSITY OF JORDAN, Amman, Jordan — Bachelor's degree, Computer Software Engineering.</p></h4>
                <br>
                <h2>SKILLS:</h2>
                <br>
                <h4><p>CSS, PYTHON, OOP, JAVA, JAVASCRIPT, REACT, REACTNATIVE, DATASTRUCTURE, SQL, LINUX, HTML, JSON, FLASK, DJANGO</p></h4>
                <br>
                <h2>LANGUAGES:</h2>
                <br>
                <h4><p>Arabic, English</p></h4>
            </div>

          </div>
          <hr>
          <p><strong>email:</strong> mahmoudodeh332@gmail.com</p> <p><strong>Mobile:</strong> +962798334640</p>
          <hr>
{% endblock %}