{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Mawdoo3 Twitter
{% endblock %}

{% block navbar %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">

<nav class="navbar navbar-light bg-light navbar-fixed-top" style="background-color:rgb(187, 212, 248);">
    <div class="container" style="margin-top: 10px; padding: 6px;">

        <a class="navbar-brand" href="{{url_for('index_view')}}" style="padding: 10px; margin: 10px;"><img
                style="border-radius: 50%; width: 50px; " src="{{ url_for('static',filename='images/logo1.png') }}"
                alt="No image" style="height: 200%;"></a>

        <a id="divvyTrips" href="{{url_for('csv_table_view')}}"
            style="padding: 10px; margin:20px; background-color: honeydew; border-radius: 10%;"><span class="glyphicon"
                style="margin: 10px; padding: 10px;">Divvy Trips</span></a>

        <a id="divvyTrips" href="{{url_for('about_me_view')}}"
            style="padding: 10px; margin:20px; background-color: honeydew; border-radius: 10%;"><span class="glyphicon"
                style="margin: 10px; padding: 10px;">About Me</span></a>

        <div class="form-inline nav navbar-nav navbar-right" style="padding: 10px; margin: 10px;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                style="margin-right: 10px;">
            <a id="logout_btn" href="{{url_for('logout')}}"
                style="background-color: honeydew; border-radius: 20%; padding: 10px;"><span
                    class="glyphicon glyphicon-log-in" style="padding-right: 10px;"> Logout</span></a>
        </div>


    </div>
</nav>

{% endblock %}


{% block content %}
<div class="container box_container" style="margin-top: 100px;">



    <div class="container">

        {{ wtf.quick_form(post_form) }}
    </div>

    <div class="container">
        {% for tweet in tweets %}
        <div class="usernameBlock">

            <h6 class="usernameText">{{ tweet.username }}</h6>

        </div>
        <br>

        <div class="tweetBlock">
            <h3 class="bodyText">{{ tweet.body }}</h4>
        </div>
        <div style="display:inline-block; margin-right: 10px;">
            <button id="{{tweet.id}}" onclick="onlike(this.id)" class="btn btn-primary" type="button"><strong
                    id="like_text{{tweet.id}}">Like</strong></button>
            <h5 id="h5_likes_count{{tweet.id}}" style="display:inline-block;">
                <script>
                    fetch(`http://127.0.0.1:5000/post_likes/{{tweet.id}}`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById("h5_likes_count{{tweet.id}}").innerHTML = data['Likes_count']
                            if (data['users'].includes(parseInt("{{current_user.id}}"))) {
                                $(`#like_text{{tweet.id}}`).text("Unlike");
                            }
                        });

                    async function onlike(t_id) {
                        if (document.getElementById(`like_text${t_id}`).textContent == 'Like') {
                            const response = await fetch(`http://127.0.0.1:5000/add_like/${t_id}/{{current_user.id}}`,
                                {
                                    method: 'POST',

                                })
                            // document.getElementById(`like_text${t_id}`).innerHTML == "Unlike"
                            $(`#like_text${t_id}`).text("Unlike");

                            fetch(`http://127.0.0.1:5000/post_likes/${t_id}`)
                                .then(response => response.json())
                                .then(data => document.getElementById(`h5_likes_count${t_id}`).innerHTML = data['Likes_count']);

                            return response.json();

                        }
                        else if (document.getElementById(`like_text${t_id}`).textContent == 'Unlike') {
                            console.log('delete like')

                            const response = await fetch("http://127.0.0.1:5000/delete_like/{{current_user.id}}",
                                {
                                    method: 'DELETE',

                                })
                            $(`#like_text${t_id}`).text("Like");

                            fetch(`http://127.0.0.1:5000/post_likes/${t_id}`)
                                .then(response => response.json())
                                .then(data => document.getElementById(`h5_likes_count${t_id}`).innerHTML = data['Likes_count']);

                            return response.json();




                        }

                        return 0;

                    }

                    async function add_comment(t_id) {
                        var inputVal = document.getElementById(`add_comment${t_id}`).value;

                        const response = await fetch(`/add_comment/${t_id}/{{current_user.id}}/${inputVal}`,
                            {
                                method: 'POST',

                            }).then(document.getElementById(`add_comment${t_id}`).value = '')

                        location.reload();



                        return response.json();

                    }

                </script>
            </h5>
        </div>
        <button id="add_comment_btn{{tweet.id}}" name="{{tweet.id}}" onclick="add_comment(this.name)" type="button"
            class="btn btn-success" for="add_comment{{tweet.id}}">Comment</button>
        <input type="text" id="add_comment{{tweet.id}}">

        {% for comment in comments %}
        {% if comment.post_id == tweet.id %}
        <div id="div_comments{{tweet.id}}" class="container" align="center">
            <h5 id="display_comment{{comment.id}}">
                <h6><strong>{{comment.username}}</strong> &nbsp;: {{comment.body}}</h6>
            </h5>
            <hr style="border-bottom: brown solid 2px; width: 50%;">
        </div>
        {% endif %}
        {% endfor %}
        <hr style="color: black;border-bottom: black solid 2px;">

        {% endfor %}


    </div>
</div>
{% endblock %}