{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="width: 50%;">
            <h1 align="center" style="color: cyan;">Mawdoo3 Twitter</h1>
            <img src="{{ url_for('static',filename='images/logo1.png') }}" alt="No image"
                style="width: 100%; height: 100%;">
        </div>

        <div class="col-md-6" style="width: 50%;">
            <h1 align="center">Login!</h1>
            <hr>
            <hr>

            <h1>Sign In</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
            <hr>
            <p>New User? <a href="{{ url_for('register_view') }}">Click to Register!</a></p>


        </div>

    </div>
</div>


{% endblock %}