{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6" style="width: 50%;">
            <h1 align="center" style="color: cyan;">Mawdoo3 Twitter</h1>
            <img src="{{ url_for('static',filename='images/logo1.png') }}" alt="No image"
                style="width: 100%; height: 100%;">
        </div>


        <h1 align="center">Create New User</h1>
        <div class="col-md-6" style="width: 50%;">

            {{ wtf.quick_form(form) }}
            <hr>
            <p>I have an account ? <a href="{{ url_for('login') }}">Login!</a></p>
        </div>
    </div>
</div>

{% endblock %}